Source: zero-lliurex-itaca
Section: admin
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders: Equipo LliureX <lliurex@gva.es>
Build-Depends: llxsrchelper,debhelper (>= 10),zero-dev
Standards-Version: 4.1.2

Package: zero-lliurex-itaca
Architecture: amd64
Depends: ${misc:Depends},epi-gtk,zero-center
Conflicts: itaca
Description: Transitional package for old Itaca Installer
 Uninstall Itaca Browser due to end of license on 24 Jul 2025.
 This package can safely be removed after installation.
